* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
#navbar {
    background: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
}

#navbar a {
    text-decoration: none;
    color: black;
    padding: 24px;
}
.hero-content h2 {
    color: white;
    text-align: right;
    font-size: 48px;
    padding-top: 300px;
    padding-right: 100px;
    font-family: copperplate;
}

#navbar h1 {
    font-family: cursive;
}
#hero {
    background-image: url("../images/photo-1523113501336-6ea4a7d6660d.avif");
    height: 100vh;
    background-position: center center;
    background-size: cover;
}
.horizontal-masonry-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    border: 10px solid black;
    padding: 24px;
    background-color: lightgreen;
    margin: 24px auto;
    max-width: 1500px;
}
.horizontal-masonry-gallery img {
    height: 300px;
    object-fit: cover;
    flex: 1;
}
h3 {
    text-align: center;
}
@media  screen and (max-width: 1475px) {
    .hero-content h2 {
        font-size: 36px;
    }
}
@media  screen and (max-width: 1225px) {
    .hero-content h2 {
        padding-right: 5px;
    }
    #hero {
        background-image: url(../images/photo-1523113501336-6ea4a7d6660d.avif);
        height: 80vh;
    }
}
@media  screen and (max-width: 1020px) {
    .hero-content h2 {
        font-size: 24px;
    }
}
@media  screen and (max-width: 900px) {
    #hero {
        background-image: url(../images/photo-1523113501336-6ea4a7d6660d.avif);
        height: 60vh;
    }
    .hero-content h2 {
        padding-top: 200px;
    }
}
@media  screen and (max-width: 775px) {
    .hero-content h2 {
        font-size: 16px;
    }
}
@media  screen and (max-width: 650px) {
    #navbar {
        flex-wrap: wrap;
    }
}