@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Diplomata+SC&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
#teams {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

h1 {
    font-family: copperplate;
    font-size: 85px;
    margin: 0px 0px;
    
}
h2 {
    font-size: 50px;
    font-family: copperplate;
}
p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
h5 {
    font-family: "Diplomata SC", serif;
    margin: 0px;
    font-size: 15px;
}
h3 {
    font-family: "Diplomata SC", serif;
    font-size: 25px;
}
.single-column {
    margin: 24px auto;
    max-width: 1000px;
    text-align: center;
    background-color: lightgray;
    border: 10px solid black;
}
.single-column p {
    padding: 25px;
}
#steelers {
    width: 300px;
    margin-right: 60px;
    
}
#eagles {
    width: 400px; 
}
a {
    text-decoration: none;
    border: 1px solid black;
    padding: 10px;
    color: white;
    background-color: rgb(213, 3, 3);
    margin: 20px;
    border-radius: 10px;
    margin: 40px;
}

#names {
    margin-top: 40px;
}