* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
/* FLEXBOX CONTAINER */
#navbar {
    background-color: blue;
    display: flex;
    justify-content: space-evenly;
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
}