* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#layout {
    margin: 0px auto;
    max-width: 1000px;
}

.basic-grid-gallery img {
    width: 100%;
}
#navbar {
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px;
    border-bottom: 2px solid white;
}

#navbar a {
    text-decoration: none;
    color: rgb(67, 67, 67);
    font-family: copperplate;
    font-size: 24px;
}

#hero {
    background-image: url(../images/urban-hi-res-2nse.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: flex-end;
    padding-top: 550px;
}
#hero-content {
    text-align: center;
}

#hero-content h1 {
    color: white;
    font-family: copperplate;
    padding-right: 48px;
    font-size: 48px;
}

#hero-content a {
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: white;
    font-family: copperplate;
    padding: 12px;
    border-radius: 30px;

}
.basic-grid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
    padding: 12px;
}
#layout h1 {
    font-family: copperplate;
    text-align: center;
    margin-top: 50px;
}
.card {
    padding: 40px;
    padding-top: 20px;
    border-radius: 10px;
    background-color: lightgray;
    color: black;
    text-align: center;
    margin: 60px;
    font-family: copperplate;
}
.card a {
    text-decoration: none;
    color: white;
    background-color: gray;
    padding: 15px;
    border-radius: 30px;
    font-family: copperplate;
}
#cards {
    display: flex;
    justify-content: space-between;
}

#cards h3 {
    font-size: 24px;
}

@media screen and (max-width: 1000px) {
    #cards {
        flex-direction: column;
    }
    .basic-grid-gallery {
        grid-template-columns: 1fr;
    }
    #hero {
        height: 85vh;
    }
}

@media screen and (max-width: 750px) {
    #navbar {
        flex-direction: column;
        padding: 20px;
    }
}