* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    font-family: copperplate;
    background-color: #fed460;
    margin: 20px;
}
#two-columns {
    display: flex;
    max-width: 1200px;
    margin: 36px auto;
    gap: 24px;
}
#main {
    padding: 24px;
    background-color: #f3bc22;
    border: 5px solid black;
    border-radius: 20px;
    flex: 2;
}
#sidebar {
    background-color: #f3bc22;
    padding: 12px;
    flex: 1;
    height: fit-content;
    border-radius: 20px;
    border: 2px solid black;
}
#sidebar a {
    text-decoration: none;
}
#sidebar ul {
    list-style-type: none;
}
#sidebar h2 {
    background-color: #fed460;
    text-align: center;
    border-bottom: 2px solid black;
}
#sidebar a {
    text-align: left;
    color: black;
}
#sidebar li {
    border-bottom: 1px solid black;
}

