* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#single-column {
    max-width: 1200px;
    margin: 36px auto;
}

img {
    width: 100%;
}

/* FLEXBOX CONTAINER */
.recipe-intro {
    display: flex;
    align-items: center;
    gap: 36px;
}

/* FLEXBOX ITEMS */
.recipe-intro .left-side {
    flex: 1;
}

.recipe-intro .right-side {
    flex: 1;
}

.card {
    text-align: center;
    margin: 36px 0px;
    flex: 1;
}
.card img {
    object-fit: fill;
    height: 500px;
}

.cards-container {
    display: flex;
    gap: 36px;
}

.time {
    display: inline-block;
    margin-right: 24px;
}

h1 {
    font-size: 64px;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
a {
    background-color: black;
    color: white;
    padding: 15px;
    max-width: 250px;
    text-align: center;
    text-decoration: none;
}
#description {
    margin-bottom: 50px;
}
h2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 48px;
    margin-top: 36px;
}
hr {
    margin: 48px;
}
.card p {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}